@media screen and (max-width:1025px) {
    .mediaQueryLocation .page-section .media-query-location-top {
        background-color: blue;
        width: 300px;
    }
}

.mediaQueryLocation section {
	margin: auto 120px;
}

.phone .mediaQueryLocation .page-section {
	margin: auto 24px;
}

.phone .mediaQueryLocation .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .mediaQueryLocation .back-button {
	display: none;
}

.mediaQueryLocation.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.mediaQueryLocation .fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}

    .mediaQueryLocation .page-section .media-query-location-top {
        border: 3px gray solid;
        margin: 10px;
        width : 500px;
        height: 70px;
        background-color: black;
    }

    .mediaQueryLocation .page-section .media-query-location-bottom {
        border: 3px gray solid;
        margin: 10px;
        width : 500px;
        height: 70px;
        background-color: black;
    }

@media screen and (max-width:1025px) {
    .mediaQueryLocation .page-section .media-query-location-bottom {
        background-color: blue;
        width: 300px;
    }

}