<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="62ada591-96d7-402d-9e9a-bffe0015364b" Version="1.0.0.0" Publisher="CN=mko" />
  <Properties>
    <DisplayName>WinJSBestPractice</DisplayName>
    <PublisherDisplayName>mko</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="WinJS Best Practice" Description="WinJS Best Practice Sample by Ratio" ForegroundText="light" BackgroundColor="#404040" Square150x150Logo="images/UglyIcon.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile ShortName="Ratio WinJS Best Practice" Wide310x150Logo="images/BestPracticeLogo.png" DefaultSize="wide310x150Logo" Square70x70Logo="images/uglySmallIcon.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images/bestPracticeSplash.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>