.reduceLayoutPass section {
	margin: auto 120px;
}

.phone .reduceLayoutPass .page-section {
	margin: auto 24px;
}

.phone .reduceLayoutPass .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .reduceLayoutPass .back-button {
	display: none;
}

reduceLayoutPass .fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.reduceLayoutPass .fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}

    .reduceLayoutPass .page-section .reduce-layout-pass-example {
        display: -ms-grid;
        -ms-grid-columns: 1fr 500px;
        -ms-grid-rows: 1fr;
    }

    .reduceLayoutPass .page-section .reduce-layout-pass-example-detail {
        -ms-grid-column: 1;
        -ms-grid-row : 1;
    }

        .reduceLayoutPass .page-section .reduce-layout-pass-example-detail button {
            margin: 5px;
        }

    .reduceLayoutPass .page-section .reduce-layout-pass-example-test {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        width: 400px;
        height: 450px;
        overflow: auto;
        background-color: #333333;
    }

     .reduceLayoutPass .page-section .reduce-layout-pass-example-test .box{
         width : 300px;
         height: 200px;
    }
